<img
  class='modal-card-poster'
  src='https://image.tmdb.org/t/p/w300/https://image.tmdb.org/t/p/original/wwemzKWzjKYJFfCeiB57q3r4Bcm.png'
  alt='xxxxxxx'
/>
<article class='modal-card'>
  <h2 class='modal-card-title'>xxxxxxx</h2>
  <div class='modal-card-information'>
    <ul class='left-part'>
      <li>Vote / Votes</li>
      <li>Popularity</li>
      <li>Original Title</li>
      <li>Genre</li>
    </ul>
    <ul class='right-part'>
      <li>
        <span class='film-vote'>xxxxxxx</span>
        <span class='left-part'> / </span>
        <span class='film-votes'>xxxxxxx</span>
      </li>
      <li>xxxxxxx</li>
      <li class='film-original-title'>xxxxxxx</li>
      <li class='film-genres'>
        xxxxxxx
      </li>
    </ul>
  </div>
  <h3 class='about-title'>About</h3>
  <p class='about-text'>xxxxxxx</p>
  <div class='modal-buttons'>
    <button class='watched-button'>add to watched</button>
    <button class='queue-button'>add to queue</button>
  </div>
</article>