.scrollup {
    animation-duration: 1000ms;
    animation-iteration-count: 2;

    width: 40px;
    height: 40px;
    opacity: 0.3;
    position: fixed;
    bottom: 100px;
    right: 100px;
    display: none;
    text-indent: -9999px;
    background: url("https://webmastermix.ru/files/demo/creation-site/raznoe/knopka-vverh/icon_top.png") no-repeat;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        transform: scale(1.1);
    }
}
