<footer>
    <div class="containerX footer_container">
        <div class="bottom__footer">
            <p class="copyright">© 2021 | All Rights Reserved |&nbsp;</p>
        </div>
        <div class="developers">
            <p>Developed with</p>
            <p>by&nbsp;</p>
            <a href="#~" class="team__modal">GoIT Students</a>
        </div>
    </div>
</footer>

<div class='teamModalBack teamModalIsHidden'>
    <div class='teamModalContainer containerX'>
        <i class="bi bi-x-diamond teamModalBtnClose"></i>
        <div class="team_list">
            <div class="teammate_info">
                <p class="teammate_name"><a href="https://github.com/Karpusha22" target="_blank"
                        rel="noreferrer noopener" class="teammate_name">Tanya Karpenko</a></p>
                <p class="teammate_job">Team Leader</p>
            </div>
            <div class="teammate_info">
                <p class="teammate_name"><a href="https://github.com/Karpusha22" target="_blank"
                        rel="noreferrer noopener" class="teammate_name">Tanya Karpenko</a></p>
                <p class="teammate_job">Scrum Master</p>
            </div>
            <div class="teammate_info">
                <p class="teammate_name"><a href="https://github.com/Karpusha22" target="_blank"
                        rel="noreferrer noopener" class="teammate_name">Tanya Karpenko</a></p>
                <p class="teammate_job">Developer</p>
            </div>
           <div class="teammate_info">
                <p class="teammate_name"><a href="https://github.com/Karpusha22" target="_blank" rel="noreferrer noopener"
                        class="teammate_name">Tanya Karpenko</a></p>
                <p class="teammate_job">Developer</p>
            </div>
            <div class="teammate_info">
                <p class="teammate_name"><a href="https://github.com/Karpusha22" target="_blank" rel="noreferrer noopener"
                        class="teammate_name">Tanya Karpenko</a></p>
                <p class="teammate_job">Developer</p>
            </div>
            <div class="teammate_info">
                <p class="teammate_name"><a href="https://github.com/Karpusha22" target="_blank" rel="noreferrer noopener"
                        class="teammate_name">Tanya Karpenko</a></p>
                <p class="teammate_job">Developer</p>
            </div>
            <div class="teammate_info">
                <p class="teammate_name"><a href="https://github.com/Karpusha22" target="_blank" rel="noreferrer noopener"
                        class="teammate_name">Tanya Karpenko</a></p>
                <p class="teammate_job">Developer</p>
            </div>
            <div class="teammate_info">
                <p class="teammate_name"><a href="https://github.com/Karpusha22" target="_blank" rel="noreferrer noopener"
                        class="teammate_name">Tanya Karpenko</a></p>
                <p class="teammate_job">Developer</p>
            </div> 
        </div>
    </div>
</div>