<header class="header header-home">
  <div class="header__container container">
    <div class="header__container">
      <div class="wrapper">
        <img class="icon-film" src="./images/icons/logo.svg" alt="film frame" />
        <h1 class="logo-img visually-hidden">Filmoteka</h1>
        <a class="logo link" id="logo" href="#">Filmoteka</a>
        <nav class="navigation">
          <ul class="menu__list list">
            <li class="menu__item">

              <button class="menu__link js-menu__button current" id="home" type="button">Home</button>
            </li>
            <li class="menu__item">

              <button class="menu__link js-menu__button" id="my-library" type="button" data-modal-auth-open>
                My library
              </button>
            </li>
          </ul>
        </nav>
      </div>
      <div class="markup-wrapper">
        <form class="search-form" id="search-form">
          <input type="text" name="search" autocomplete="off" placeholder="Search movies..." />
          <button type="submit" id="search-button">Search</button>
        </form>
        <!-- Динамически рендерим разметку хэдэра для My library -->
        <div class="btn-container__library visually-hidden">
          <ul class="btn-list list">
            <li class="btn-item">
              <button class="btn-liba button-watched watched-btn-js" id="btn-watched" type="submit">
                Watched
              </button>
            </li>
            <li class="btn-item">
              <button class="btn-liba button-queue queue-btn-js" id="btn-queue" type="submit">
                queue
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
</header>