//PRELOADER 1

// .preloader {
//   width: 100%;
//   height: 100%;
//   background: #fff;
//   position: fixed;
//   top: 0;
//   z-index: 100;
//   transition: 600ms;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .loader {
//   width: 75px;
//   height: 75px;
//   border: 10px solid rgba(133, 10, 78, 0.6);
//   border-radius: 50%;
//   border-left-color: blueviolet;
//   animation: loader 1500ms linear infinite;
// }

// @keyframes loader {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }

// .hide {
//   opacity: 0;
// }

// PRELOADER 2

#preloader {
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 2;
  transition: 1000ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  color: rgba(0, 0, 0, 0.98);
  font-family: Arial;
  font-size: 31px;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  float: left;
  animation-name: bounce_fountainTextG;
  -o-animation-name: bounce_fountainTextG;
  -ms-animation-name: bounce_fountainTextG;
  -webkit-animation-name: bounce_fountainTextG;
  -moz-animation-name: bounce_fountainTextG;
  animation-duration: 1.82s;
  -o-animation-duration: 1.82s;
  -ms-animation-duration: 1.82s;
  -webkit-animation-duration: 1.82s;
  -moz-animation-duration: 1.82s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
}
#loader_1 {
  animation-delay: 0.65s;
  -o-animation-delay: 0.65s;
  -ms-animation-delay: 0.65s;
  -webkit-animation-delay: 0.65s;
  -moz-animation-delay: 0.65s;
}
#loader_2 {
  animation-delay: 0.78s;
  -o-animation-delay: 0.78s;
  -ms-animation-delay: 0.78s;
  -webkit-animation-delay: 0.78s;
  -moz-animation-delay: 0.78s;
}
#loader_3 {
  animation-delay: 0.91s;
  -o-animation-delay: 0.91s;
  -ms-animation-delay: 0.91s;
  -webkit-animation-delay: 0.91s;
  -moz-animation-delay: 0.91s;
}
#loader_4 {
  animation-delay: 1.04s;
  -o-animation-delay: 1.04s;
  -ms-animation-delay: 1.04s;
  -webkit-animation-delay: 1.04s;
  -moz-animation-delay: 1.04s;
}
#loader_5 {
  animation-delay: 1.17s;
  -o-animation-delay: 1.17s;
  -ms-animation-delay: 1.17s;
  -webkit-animation-delay: 1.17s;
  -moz-animation-delay: 1.17s;
}
#loader_6 {
  animation-delay: 1.3s;
  -o-animation-delay: 1.3s;
  -ms-animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
}
#loader_7 {
  animation-delay: 1.43s;
  -o-animation-delay: 1.43s;
  -ms-animation-delay: 1.43s;
  -webkit-animation-delay: 1.43s;
  -moz-animation-delay: 1.43s;
}
#loader_8 {
  animation-delay: 1.56s;
  -o-animation-delay: 1.56s;
  -ms-animation-delay: 1.56s;
  -webkit-animation-delay: 1.56s;
  -moz-animation-delay: 1.56s;
}
#loader_9 {
  animation-delay: 1.69s;
  -o-animation-delay: 1.69s;
  -ms-animation-delay: 1.69s;
  -webkit-animation-delay: 1.69s;
  -moz-animation-delay: 1.69s;
}
#loader_10 {
  animation-delay: 1.82s;
  -o-animation-delay: 1.82s;
  -ms-animation-delay: 1.82s;
  -webkit-animation-delay: 1.82s;
  -moz-animation-delay: 1.82s;
}

@keyframes bounce_fountainTextG {
  0% {
    transform: scale(1);
    color: rgb(34, 44, 186);
  }

  100% {
    transform: scale(0.5);
    color: rgb(148, 0, 148);
  }
}

@-o-keyframes bounce_fountainTextG {
  0% {
    -o-transform: scale(1);
    color: rgb(34, 44, 186);
  }

  100% {
    -o-transform: scale(0.5);
    color: rgb(148, 0, 148);
  }
}

@-ms-keyframes bounce_fountainTextG {
  0% {
    -ms-transform: scale(1);
    color: rgb(34, 44, 186);
  }

  100% {
    -ms-transform: scale(0.5);
    color: rgb(148, 0, 148);
  }
}

@-webkit-keyframes bounce_fountainTextG {
  0% {
    -webkit-transform: scale(1);
    color: rgb(34, 44, 186);
  }

  100% {
    -webkit-transform: scale(0.5);
    color: rgb(148, 0, 148);
  }
}

@-moz-keyframes bounce_fountainTextG {
  0% {
    -moz-transform: scale(1);
    color: rgb(34, 44, 186);
  }

  100% {
    -moz-transform: scale(0.5);
    color: rgb(148, 0, 148);
  }
}
